html {
    background: url(../assets/images/b_2.png) top right no-repeat, url(../assets/images/b_1.jpg) bottom left repeat;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
}

a {
    font-family: cursive;
    color: #4a251c;
    background-color: #dfd3bb;
}

.article-header-list {
    font-family: "Baskerville Old Face", sans-serif;
    color: #782d20;
    border-bottom: solid;
}

h2 > a {
    text-decoration: none;
    font-family: "Baskerville Old Face", sans-serif;
    color: #782d20;
    border-bottom: solid;
}

.description {
    background-color: #dfd3bb;
}

.read-more:hover {
    text-decoration: none;
    color: #782d20;
}

.read-comments {
    color: gray;
}

.actual-article p::first-letter {
    color: #782d20;
    font-size: x-large;
    font-family: "Baskerville Old Face", sans-serif;
}

.actual-article h1, .actual-article h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    width: 50%;
}

li {
    padding-left: 4%;
}

.main-list li {
    background: url("../assets/icons/list.png") no-repeat #dfd3bb;
    background-size: 20px;
    font-size: x-large;
}

.nested-list li {
    background: url("../assets/icons/list-nested.png") no-repeat white;
    background-size: 10px;
    font-size: medium;
}

li.new::after {
    content: url("../assets/icons/list-new.png");
    margin-left: 5px;
    display: inline-block;
}

.gallery img {
    width: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: gold;
}

.gallery img:hover {
    border: 5px solid transparent;
}
